{% extends 'base.html.twig' %}

{% block title %}Liste des tâches{% endblock %}

{% block body %}
    <div class="row">
        <div class="title-container">
            <h1>Liste des tâches</h1>
            {% if app.user %}
                <a href="{{ path('app_task_new') }}" class="btn btn-dark pull-right mb-3">
                    <i class="bi bi-plus-lg"></i>
                    Créer une tâche
                </a>
            {% endif %}
        </div>
        {% for task in tasks %}
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        {% if app.user %}
                            <a href="{{ path('app_task_edit', {'id' : task.id }) }}">
                                {{ task.title }}
                            </a>
                            {% else %}
                            <span>{{ task.title }}</span>
                        {% endif %}
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        {% if task.isDone %}Terminée{% else %}Pas encore terminée{% endif %}
                        {% if app.user and task.user.id == app.user.id %}
                            <br/>
                            <small>Créée par vous</small>
                        {% endif %}
                    </h6>
                    <p class="card-text">
                        {{ task.content }}
                    </p>
                    {% if app.user %}
                        <form action="{{ path('app_task_toggle', {'id' : task.id }) }}">
                            <button class="btn btn-success btn-sm pull-right mb-2 col-12">
                                {% if not task.isDone %}<i class="bi bi-check-lg"></i> Marquer comme faite{% else %}<i class="bi bi-x-lg"></i> Marquer non terminée{% endif %}
                            </button>
                        </form>
                        <form method="POST" action="{{ path('app_task_delete', {'id': task.id}) }}" onsubmit="return confirm('Souhaitez-vous réellement supprimer cette tâche ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
                            <button class="btn btn-danger btn-sm pull-right col-12">
                                <i class="bi bi-trash-fill"></i>
                                Supprimer
                            </button>
                        </form>
                    {% endif %}
                </div>
            </div>

        </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Il n'y a pas encore de tâche enregistrée. <a href="{{ path('app_task_new') }}" class="btn btn-warning pull-right">Créer une tâche</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
