<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="/img/logo.ico"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

        <title>Todo & Co</title>

        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ asset('css/app.css') }}" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-2 header">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Todo & Co</a>
                <img src="{{ asset('img/logo.svg') }}" alt="Logo Todo & Co" style="height:25px;"/>
                <div class="collapse navbar-collapse ms-5" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">
                                <i class="bi bi-house-door-fill"></i>
                                Accueil
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_task_index') }}">
                                <i class="bi bi-list"></i>
                                Liste des tâches
                            </a>
                        </li>
                        {% if app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_task_new') }}">
                                    <i class="bi bi-plus-lg"></i>
                                    Créer une tâche
                                </a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_user_index') }}">
                                    <i class="bi bi-people-fill"></i>
                                    Liste des utilisateurs
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_user_new') }}">
                                    <i class="bi bi-person-plus-fill"></i>
                                    Créer un utilisateur
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    <div>
                        {% if app.user %}
                            <span class="text-light me-2">Connecté(e) en tant que <em>{{ app.user.username }}</em></span>
                            <a href="{{ path('app_logout') }}" class="pull-right btn btn-danger">
                                <i class="bi bi-box-arrow-left"></i>
                                Se déconnecter
                            </a>
                        {% endif %}

                        {% if not app.user and 'app_login' != app.request.attributes.get('_route') %}
                            <a href="{{ path('app_login') }}" class="btn btn-success">
                                <i class="bi bi-box-arrow-in-right"></i>
                                Se connecter
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    {% for flash_message in app.session.flashBag.get('success') %}
                        <div class="alert alert-success" role="alert">
                            <strong>Superbe !</strong> {{ flash_message }}
                        </div>
                    {% endfor %}

                    {% for flash_message in app.session.flashBag.get('error') %}
                        <div class="alert alert-danger" role="alert">
                            <strong>Oops !</strong> {{ flash_message }}
                        </div>
                    {% endfor %}
                </div>
                <div class="col-12" style="position:relative">
                    {% block header_title %}{% endblock %}
                    {% block header_img %}
                        <div class="filter col-12" style="height: 100%;position: absolute;background:linear-gradient(0deg, rgb(0 0 0 / 77%) 0%, rgba(255,255,255,0) 100%);"></div>
                        <img class="slide-image col-12" style="border-radius: 2px;height: 400px;object-fit: cover;object-position:center;" src="{{ asset('img/todolist_homepage.jpg') }}" alt="todo list">
                    {% endblock %}
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <hr>
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="pull-right">Copyright &copy; OpenClassrooms</p>
                    </div>
                </div>
            </footer>
        </div>

        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    </body>
</html>
