{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <div class="title-container">
        <h1>Liste des utilisateurs</h1>
        <a href="{{ path('app_user_new') }}" class="btn btn-dark pull-right mb-3">
            <i class="bi bi-person-plus-fill"></i>
            Créer un utilisateur
        </a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Adresse mail</th>
                <th>Rôles</th>
                <th>Nom d'utilisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.username }}</td>
                <td>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-warning">
                        <i class="bi bi-pen"></i>
                        Éditer
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune entrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
